.bind-header{
	width:100%;
	height:40px;
	background:#fff;
	display:-webkit-flex;
	display:flex;
	align-content:center;
	border-bottom:1px solid #ddd;;
}
.bind-header a{
	line-height:40px;
	color:#474747;
}
.bind-header h1{
	margin: 0 0 0 -12px;
	font-size:16px;
	line-height:40px;
    color:#474747;
    text-align:center;
    flex:1;
}
.bind-contaner{
	margin-top:15px;
}
.bind-contaner .item{
	padding:10px 10px;
	background:#fff;
	display:-webkit-flex;
	display:flex;
	align-content:center;
	justify-content:space-between;
	border-bottom:1px solid #f0f0f0;
}
.bind-contaner .item span{
	color:#4c4c4c;
	font-size:14px;
	line-height: 30px;
}
.bind-contaner .item input{
	margin:0;
	padding:0;
	border:none;
	background:none;
	outline:none;
	text-align: right;
	font-size:14px;
	width:60%;
	height:30px;
	line-height:30px;
}
.bind-contaner .item:nth-child(2) input{
	width:40%;
}
.bind-contaner .item:nth-child(2) button{
	background:#ffa100;
	color:#fff;
	border:none;
}
.bind-contaner .btn{
	margin-top:50px;
	display:block;
	width:100%;
	height:40px;
	text-align:center;
	background:#f6ac1d;
	color:#fff;
	border:none;
	border-radius: 0;
}

.mui-backdrop{
	z-index:1;
	display: none;
}
.code{
	position:fixed;
	top:50%;
	left:50%;
	z-index:1;
	width:80%;
	background:#fff;
	border-radius:5px;
	-webkit-transition:all .5s;
	transition:all .5s;
	-webkit-transform:translate(-50%,-300%);
	transform:translate(-50%,-300%);
}
.code.on{
	-webkit-transition:all .5s;
	transition:all .5s;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.code h3{
	background:#f1f1f1;
	color:#646464;
	margin:0;
	padding:0;
	border-radius:5px 5px 0 0;
	font-size:16px;
	font-weight:normal;
	line-height:40px;
	padding:0 30px;
}
.code .items{
	padding:20px;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.code .items input{
	width:50%;
	line-height:0;
	margin:0;
	padding:0;
}
.code .items i{
	width:100px;
	height;auto;
	line-height:0;
}
.code .items i img{
	width:100%;
}
.code .btn{
	margin:0 30px;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding-bottom:20px;
}
.code .btn a{
	background: #bdbdbd;
	height:40px;
	line-height:40px;
	flex:1;
	border-radius:3px;
	color:#fff;
	font-size:14px;
	text-align:center;
}
.code .btn a:nth-child(2){
	background:#F6AC1D;
	margin-left:30px;
}

