ol, ul {
  list-style: none;  /*去掉列表点*/
}
.sgo-arrow {
    position: relative
}

.sgo-arrow:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right:10px;
    width:8px;
    height:8px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -4px;
    color: #ccc;
    -webkit-transform: rotateZ(135deg);
    transform: rotateZ(135deg)
}
.sgo-arrow-down:after{
	  -webkit-transform: rotateZ(-135deg);
    transform: rotateZ(-135deg)
}
.star5{
	background:url(../img/star.png) no-repeat;
	background-size: 100% auto;
	display: block;
	width: 85px;
	height: 14px;
	background-position: 0 0;
}
.star4{
	background:url(../img/star.png) no-repeat;
	background-size: 100% auto;
	display: block;
	width: 85px;
	height: 14px;
	background-position: 0 -14px;
}
.star3{
	background:url(../img/star.png) no-repeat;
	background-size: 100% auto;
	display: block;
	width: 85px;
	height: 14px;
	background-position: 0 -28px;
}
.star2{
	background:url(../img/star.png) no-repeat;
	background-size: 100% auto;
	display: block;
	width: 85px;
	height: 14px;
	background-position: 0 -42px;
}
.star1{
	background:url(../img/star.png) no-repeat;
	background-size: 100% auto;
	display: block;
	width: 85px;
	height: 14px;
	background-position: 0 -56px;
}


.sgo-page-wrapper{
	width:100%;
	overflow: hidden;
}
.swiper-container{
	line-height: 0;
}
.swiper-container .top{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	color: #fff;
	padding: 0 10px;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.swiper-container .top .mui-icon{
	font-size:24px !important;
}
.swiper-container .top span{
	line-height: 40px;
}
.swiper-container .top i{
	width: 20px;
	display: block;
}
.swiper-container .top i img{
	width:100%;
}
.swiper-container .swiper-slide img{
	width:100%;
	height:auto;
}
.swiper-container .text{
	position:absolute;
	left:0;
	bottom:0;
	z-index: 1;
	width:100%;
}
.swiper-container .text .title p{
	font-size:18px;
	line-height:1.5;
	color:#fff;
	font-weight:bold;
	padding:5px 20px;
	margin:0;
}
.swiper-pagination{
	bottom: 45px;
	right: 20px;
	background: #000;
	width: 50px;
	height: 20px;
	line-height: 20px;
	left: inherit;
	text-align: center;
	color: #fff;
	border-radius: 30px;
}
.swiper-container .text .text-list{
	padding:10px 20px;
	background:rgba(0,0,0,.3);
}
.text-list>span{
	margin-right:5px;
}
.text-list>.preferential{
	color:#000;
	font-size:12px;
	background:#f6ac1d;
	display:inline-block;
	border-radius:3px;
	padding:0 5px;
	line-height:1.5;
}
.text-list>.breakfast{
	color:#000;
	font-size:12px;
	background:#bdd966;
	display:inline-block;
	border-radius:3px;
	padding:0 5px;
	line-height:1.5;
}
.text-list>.coupon{
	color:#000;
	font-size:12px;
	background:#fa5b5b;
	display:inline-block;
	border-radius:3px;
	padding:0 5px;
	line-height:1.5;
}
.text-list>.distance{
	color:#fff;
	font-size:12px;
	flex:1;
	line-height:1.5;
}
.info{
	margin-bottom:20px;
	background:#fff;
}
.info .map-comment{
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
}
.map {position:relative;width:70%;}
.map>a{
	position:absolute;
	right:0;
	bottom:0;
	padding:0 5px;
	background:rgba(0,0,0,.8);
	color:#fff;
	font-size:16px;
}
  .map #infoMap {
    height: 8rem; 
  }
.equipment {
margin: 5%; }
  .equipment ul {
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    .equipment ul li {
      flex: 1;
      text-align: center;
      font: 0.8rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #de5a4c; }
  .equipment ul li .img {
    font-size: 0;
    width: 1.5rem;
    margin: 0 auto; }
.equipment ul li .img img {
  min-width: auto;
  max-width: 100%;
  min-height: auto;
  max-height: 100%; }

.map-comment .comment-text{
	padding:10px;
}
.map-comment .comment-text h3{
	font-size:16px;
	color:#f6ac1d;
	text-align:center;
	line-height:1.5;
	margin:0;
}
.map-comment .comment-text p{
	margin:0;
	font-size:14px;
	color:#666;
	text-align:center;
	line-height:1.5;
}
.map-comment .comment-text a{
	font-size:14px;
	color:#999;
	line-height:1.7;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.mui-icon{
	font-size:16px !important;
}
.phone a{
	padding:10px;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content: space-between;
	border-bottom:1px solid #ddd;
}
.items a p{
	font-size:14px;
	color:#393939;
	margin:0;
}
.items a p span:nth-child(1){
	color:#999;
	font-size:24px !important;
	margin-right:5px;
}
.items a >span{
	color:#999;
}
.introduction{
	padding:10px;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.introduction p{
	margin:0;
	display:-webkit-flex;
	display:flex;
	align-items:center;
}
.introduction p:nth-child(1) i{
	width:24px;
	display:block;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-right:5px;
}
.introduction p:nth-child(2) i{
	width:24px;
	display:block;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:10px;
}
.introduction p:nth-child(2) i img{
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:center;
	width:auto;
	height:auto;
	max-width:100%;
	max-height:23px;
}
.introduction>a{
	color:#3074a0;
	font-size:14px;
}
.date{
	padding:10px 0;
	background:#f7f7f7;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:center;
	border-bottom:1px solid #ddd;
}
.date>div{
	flex: 1;
	text-align:center;
}
.date>div p{margin:0;color:#999;font-size:12px;}
.date>div p span{
	font-size:18px;
	color:#f6ac1d;
}
.date>.m{
	position:relative;
	color:#999;
	font-size:14px;
}
.date>.m>span{
	position: relative;
	background:#f7f7f7;
}
.date>.m:before{
	content: "";
	width:60%;
	height: 1px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #999;
	position: absolute;
	top: 10px;
	left:25px;
}
.info-list{
	background:#fff;
	margin-bottom:20px;
}
.info-list>ul{
	margin:0;
	padding:0;
}
.info-list>ul .items-list.active .mui-icon{
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}
.all-items .items-a{
	padding:10px 20px 10px 10px;
	display:-webkit-flex;
	display:flex;
	align-items: flex-end;
	border-bottom: 1px solid #ddd;
}
.all-items .items-a img{
	max-width:90px;
	margin-right:10px;
}
.all-items .items-a .text{
	flex:1;
}
.all-items .items-a .text h3{
	margin:0;
	font-size:14px;
	color:#393939;
}
.all-items .items-a .text p{
	margin:0;
	font-size:12px;
	color:#393939;
}
.all-items .items-a .money p{
	margin:0;
	font-size:12px;
	color:#F6AC1D;
}
.all-items .items-a .money.sell-out p{
	margin:0;
	font-size:12px;
	color:#999;
	line-height:1.2;
	    text-align: right;
}
.all-items .items-a .money span{
	margin:0;
	font-size:16px;
	font-weight:bold;
}
.all-items .items-a>span{
	font-size:24px !important;
	color:#999;
}

.all-items-sub{margin:0;padding:0;background:#f7f7f7;padding-left:30px;display:none;}
.items-list.active .all-items-sub {display:block;}
.all-items-sub>li{
	padding: 10px 10px 10px 0;
	display:-webkit-flex;
	display:flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
}
.all-items-sub>li:last-child{
	border-bottom:0;
}
.all-items-sub .title{
	flex:4;
}
.all-items-sub .title h3{
	font-size:16px;
	color:#393939;
	margin:0;
	padding:0;
	line-height:1.5;
}
.all-items-sub .title p{
	margin:0;
	padding:0;
	display:-webkit-flex;
	display:flex;
	align-items: center;
}
.all-items-sub .title p span{
	color:#F6AC1D;
	border:1px solid #F6AC1D;
	font-size:12px;
	border-radius:3px;
	padding:0 5px;
	margin-right:5px;
}
.all-items-sub .money-sub{
	flex:1;
}
.all-items-sub .money-sub p{
	color:#F6AC1D;
	font-size:12px;
	margin:0;
	padding:0;
}
.all-items-sub .money-sub p span{
	font-size:18px;
	font-weight:blod;
}
.all-items-sub .items-list-sub>a{
	display:block;
	background:#F6AC1D;
	color:#fff;
	width:60px;
	line-height:47px;
	padding:0 10px;
	border-radius:5px;
	text-align: center;
	
}
.all-items-sub .items-list-sub>a.full{
	background:gray;
}














.recommen-text>.preferential{
	color:#000;
	font-size:12px;
	background:#f6ac1d;
	display:inline-block;
	border-radius:3px;
	padding:0 5px;
}
.recommen-text>.breakfast{
	color:#000;
	font-size:12px;
	background:#bdd966;
	display:inline-block;
	border-radius:3px;
	padding:0 5px;
}
.recommen-text>.coupon{
	color:#000;
	font-size:12px;
	background:#fa5b5b;
	display:inline-block;
	border-radius:3px;
	padding:0 5px;
}














.recommendHouse{
	padding:0;
}
.recommendHouse-container{background:#fff;padding:10px;}
.recommendHouse .title{
	padding:5px 10px ;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.recommendHouse .title h2{
	 color:#393939;
	 font-size:16px;
}
.recommendHouse .swiper-slide{background:#fff;}
.recommendHouse .img{
	position:relative !important;
	font-size:0;
	line-height:0;
}
.recommendHouse .img i{
	position:absolute;
	top:10px;
	right:10px;
	width:20px;
	height:auto;
	display:block;
}
.recommendHouse .img i img{
	width:100%;
}
.recommendHouse .img>img{
	width:100%;
	height:auto;
}
.recommendHouse .img>.recommen-text{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	padding:5px;
	background:rgba(0,0,0,.2);
	display:-webkit-flex;
	display:flex;
	align-items:center;
	line-height:1.7;
}
.recommen-text>span{
	margin-right:5px;
}
.recommen-text>.preferential{
	color:#000;
	font-size:12px;
	background:#f6ac1d;
	display:inline-block;
	border-radius:3px;
	padding:0 5px;
}
.recommen-text>.breakfast{
	color:#000;
	font-size:12px;
	background:#bdd966;
	display:inline-block;
	border-radius:3px;
	padding:0 5px;
}
.recommen-text>.coupon{
	color:#000;
	font-size:12px;
	background:#fa5b5b;
	display:inline-block;
	border-radius:3px;
	padding:0 5px;
}
.recommen-text>.distance{
	color:#fff;
	font-size:12px;
	flex:1;
}
.recommen-text>p{
	margin:0;
	color:#fff;
	font-size:12px;
}
.recommen-text>p span{
	font-size:18px;
}
.recommendHouse .bottom-text{
	padding:5px;
	display:-webkit-flex;
	display:flex;
	align-items:flex-start;
	justify-content:space-between;
}
.recommendHouse .bottom-text p{
	color:#393939;
	margin:0;
	line-height:1.7;
}
.recommendHouse .bottom-text .r{
	justify-content:flex-end;
}
.recommendHouse .bottom-text .r>i{
	float:right;
}
.recommendHouse .bottom-text .r p{
	font-size:12px;
}
.sgo-mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:3;
	display:none;;
	background-color:#000;
	opacity:.8;
}
.sgo-page-info{
	position:fixed;
	top:50%;
	left:50%;
	z-index:4;
	width:90%;
	height:90%;
	overflow:hidden;
	-webkit-transition:all .5s;
	transition:all .5s;
	-webkit-transform:translate3d(-50%,-150%,0);
	transform:translate3d(-50%,-150%,0);
}
.sgo-page-info.active{
	-webkit-transition:all .5s;
	transition:all .5s;
	-webkit-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);
}
.sgo-page-info .container{
	padding:5%;
	background:#fff;
	height:80%;
	border-radius:5px;
	overflow: auto;
}
.sgo-page-info .container h2{
	font-size:18px;
	color:#f6ac1d;
	line-height:1.2;
}
.sgo-page-info .container h4{
	font-size:14px;
	color:#7c7c7c;
	line-height:1.2;
	margin-bottom:30px;
}
.sgo-page-info .container>div{
	border-top:1px solid #ddd;
	margin-top:10px;
}
.sgo-page-info .container>div h3{
	font-size:14px;
	color:#f6ac1d;
	line-height:1.5;
}
.hotel-item ul{
	margin:0;
	padding:0;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
}
.hotel-item ul li{
	margin-top:10px;
	width:25%;
	text-align:center;
}
.hotel-item ul li i{
	display:block;
	width: 30px;
	height: 36px;
  margin: 0 auto;
  	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:center;
}
.hotel-item ul li i img{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
}
.hotel-item ul li p{
	  margin:0;
	  width: 100%;
    text-align: center;
}
.hotel-item a{
	display:block;
	margin:10px 0 0 0;
	color:#F6AC1D;
	font-size:12px;
	text-align:center;
}
.sgo-page-info .close{
	margin-top:20px;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:center;
}
.sgo-page-info .close img{
	width:40px;
	height:40px;
}

.sgo-page-room{
	position:fixed;
	left:0;
	bottom:0;
	right:0;
	z-index:3;
	padding:10px;
	height:auto;
	background:rgba(0,0,0,.8);
	-webkit-transition:all .5s;
	transition:all .5s;
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0);
}
.sgo-page-room.active{
	-webkit-transition:all .5s;
	transition:all .5s;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.sgo-page-room h2{
	padding-bottom:10px;
	margin-bottom:15px;
	color:#fff;
	font-size:18px;
	text-align:center;
	border-bottom:1px solid #fff;
}
.sgo-page-room p{
	color:#fff;
	font-size:14px;
}
.sgo-page-room p span:nth-child(1){
	width:60%;
	display: inline-block;
}
.sgo-page-room .close{
	margin-top:20px;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:center;
}
.sgo-page-room .close img{
	width:40px;
	height:40px;
}