ol, ul {
  list-style: none;  /*去掉列表点*/
}
.star5{
	background:url(../img/star.png) no-repeat;
	background-size: 100% auto;
	display: block;
	width: 85px;
	height: 14px;
	background-position: 0 0;
}
.star4{
	background:url(../img/star.png) no-repeat;
	background-size: 100% auto;
	display: block;
	width: 85px;
	height: 14px;
	background-position: 0 -14px;
}
.star3{
	background:url(../img/star.png) no-repeat;
	background-size: 100% auto;
	display: block;
	width: 85px;
	height: 14px;
	background-position: 0 -28px;
}
.star2{
	background:url(../img/star.png) no-repeat;
	background-size: 100% auto;
	display: block;
	width: 85px;
	height: 14px;
	background-position: 0 -42px;
}
.star1{
	background:url(../img/star.png) no-repeat;
	background-size: 100% auto;
	display: block;
	width: 85px;
	height: 14px;
	background-position: 0 -56px;
}

.list-page-wrapper header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 2;
	background-color:#fff;
	padding:10px 0;
	border-bottom:1px solid #eee;
}

.list-page-wrapper header .mui-icon-back{
	position:absolute;
	left:10px;
	color: #999;
}

.list-page-wrapper header a{
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#474747;
	font-size:16px;
}
.list-title{
	position: fixed;
	top:45px;
	left:0;
	z-index: 2;
	width:100%;
	padding:10px 20px;
	background-color:#fff;
	display:-webkit-flex;
	display:flex;
	align-items:center;
}
.list-title>div{
	flex: 1;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	justify-content:center;
	
}
.date p{
	color:#f6ac1d;
	margin: 0;
	font-size:12px;
	line-height:1.2;
}
.date span{
	color:#f6ac1d;
}
.sort p,.selector p{
	color:#474747;
	margin: 0;
	font-size:14px;
}
.sort span,.selector span{
	color:#474747;
	-webkit-transition:all .5s;
	transition:all .5s;
}
.sort.on p,.selector.on p{
	color:#f6ac1d;
}
.sort.on span,.selector.on span{
	color:#f6ac1d;
	-webkit-transition:all .5s;
	transition:all .5s;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.hotel-list{
	padding-top:94px!important;
}
.hotel-list a{
	margin:10px;
	background:#fff;
	display:block;
}
.hotel-list .img{
	position:relative !important;
	font-size:0;
	line-height:0;
}
.hotel-list .img i{
	position:absolute;
	top:10px;
	right:10px;
	width:20px;
	height:auto;
	display:block;
}
.hotel-list .img i img{
	width:100%;
}
.hotel-list .img>img{
	width:100%;
	height:auto;
}
.hotel-list .img>.recommen-text{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	padding:5px;
	background:rgba(0,0,0,.2);
	display:-webkit-flex;
	display:flex;
	align-items:center;
	line-height:1.7;
}
.hotel-list .recommen-text>span{
	margin-right:5px;
}
.hotel-list .recommen-text>.preferential{
	color:#000;
	font-size:12px;
	background:#f6ac1d;
	display:inline-block;
	border-radius:3px;
	padding:0 5px;
}
.hotel-list .recommen-text>.breakfast{
	color:#000;
	font-size:12px;
	background:#bdd966;
	display:inline-block;
	border-radius:3px;
	padding:0 5px;
}
.hotel-list .recommen-text>.coupon{
	color:#000;
	font-size:12px;
	background:#fa5b5b;
	display:inline-block;
	border-radius:3px;
	padding:0 5px;
}
.hotel-list .recommen-text>.distance{
	color:#fff;
	font-size:12px;
	flex:1;
}
.hotel-list .recommen-text>p{
	margin:0;
	color:#fff;
	font-size:12px;
}
.hotel-list .recommen-text>p span{
	font-size:18px;
}
.hotel-list .bottom-text{
	padding:5px;
	display:-webkit-flex;
	display:flex;
	align-items:flex-start;
	justify-content:space-between;
}
.hotel-list .bottom-text p{
	color:#393939;
	margin:0;
	line-height:1.7;
}
.hotel-list .bottom-text .r{
	justify-content:flex-end;
}
.hotel-list .bottom-text .r p{
	font-size:12px;
}
.null-hotel-list{
	margin-top:60%;
	text-align:center;
}
.null-hotel-list img{
	width:50px;
	height:50px;
}
.mui-backdrop{
	z-index:1;
	display: none;
}
.sort-list{
	position: absolute;
	left: 0;
	top: 93px;
	z-index: 1;
	width: 100%;
	border-top: 1px solid #f6ac1d;
	-webkit-transition:all .5s;
	transition:all .5s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}
.sort-list.on{
	-webkit-transition:all .5s;
	transition:all .5s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.sort-list li span:first-child{color:#fff;}
.sort-list li span:last-child{color:#474747;}
.sort-list .active span:first-child{color:#f6ac1d;}
.sort-list .active span:last-child{color:#f6ac1d;}

.selector-content{
	position: absolute;
	top:0;
	left:0;
	right:0;
	z-index: 1;
	padding-top: 93px;
	padding-bottom:40px;
	width: 100%;
	height:100%;
    overflow: auto;
	background-color:#fff;
	border-top: 1px solid #f6ac1d;
	-webkit-transition:all .5s;
	transition:all .5s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}
.selector-content.on{
	-webkit-transition:all .5s;
	transition:all .5s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.selector-content>div .title{
	display:-webkit-flex;
	display:flex;
	align-items:flex-start;
	justify-content:space-between;
	padding:10px;
}
.selector-content>div .title h5{
	font-size:14px;
	color:#4d4d4d;
}
.selector-content>div .title a{
	font-size:12px;
	color:#f6ac1d;
	text-decoration:underline;
}
.mark{
	margin:0;
	padding:0 10px;
	display:-webkit-flex;
	display:flex;
	align-items:center;
}
.mark li{
	flex:1;
	color:#474747;
	text-align: center;
}
.mark li.line-active{
	color:#f6ac1d;
}
.mark li span{
	font-size:12px;
}


.line {
  padding: 0 25px;
  position: relative; 
  margin:10px 0 30px 0;
}
.line input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    background-image: -webkit-linear-gradient(top, #ccc, #ccc);
    background-image: linear-gradient(to bottom, #ccc, #ccc);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 30px; 
}
.line input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: default;
      top:15px;
      height:30px;
      width:30px;
      background: none repeat scroll 0 0 #f6ac1d;
      /*background:url(../img/range2.png) no-repeat;*/
      /*background-size:30px 30px;*/
      border-radius: 100%; 
}
  .line:after {
    pointer-events: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    overflow: hidden;
    content: "\0020";
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; 
}

.selector-content .items ul{
	margin:0;
	padding:0;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	border-bottom:1px solid #ddd;
	margin:0 10px 10px 10px;
	height:74px;
	overflow:hidden;
}
.selector-content .items ul li{
	  width: 24%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:3px .5%;
    font-size:12px;
    border: 1px solid #eee;
    display: block;
    text-align: center;
    line-height: 1.5;
    color: #4d4d4d;
    padding:5px 0;
    border-radius: 3px;
}
.selector-content .items ul .active{
	background:#f6ac1d;
	color:#fff;
}
.btn{
	display:-webkit-flex;
	display:flex;
	align-items:center;
	position:fixed;
	left:0;
	bottom:0;
	z-index:-3;
	width:100%;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
.btn a{
	line-height:3;
	font-size:14px;
	text-align:center;
	color:#fff;
}
.btn a:first-child{
	flex:1;
	background:#bcbcbc;
}
.btn a:last-child{
	flex:4;
	background:#f6ac1d;
}

.btn.btn-active{
	z-index:3;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}




#updown{
	position:fixed;
	top:70%;
	right:5px;
	display:none;
	background:rgba(0,0,0,.8);
	border-radius:100%;
	width:30px;
	height:30px;
}
#updown .up:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right:10px;
    width:8px;
    height:8px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -2px;
    color: #ccc;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}